.containerProductList {
  margin-top: 50px;
  display: grid;
  /* grid-template-columns: max-content; */
  grid-template-columns: repeat(4, auto);
  grid-template-rows: 400px 400px 400px 400px;
  justify-items: center;
  justify-content: stretch;
  align-items: stretch;
}

.containerProductCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 90%;
  padding: 20px 20px;
  padding-top: 40px;
  box-shadow: 1px 1px 5px 1px gray;
  border-radius: 5px;
}

.inputProductCard {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #000000;
  outline: 0;
  width: 70%;
  background-color: #e4edff;
  border: 0;
  margin: 5px 0 15px;
  padding: 15px 15px;
  border-radius: 5px;
}

.buttonProductCard {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background: #1962ff;
  width: 15%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
}

.buttonProductCard:hover {
  background: #5a8eff;
}

.textPrice {
  color: #ffffff;
  background-color: #000000;
  opacity: 0.5;
  width: 4vw;
  border-radius: 5px;
  padding: 3px;
  text-align: center;
  font-size: 20px
}

.imgProduct {
  width: 150px;
  height: 150px;
}
